API_ID= 28572091
API_HASH= 8e0e5b12ad0624ad291422db70ad3098
BOT_TOKEN= 8048419934:AAG6UqrlAhFLbYuxNjs9S3mA1hDBTucl-_w
LOGGER_ID= -1003026521435
MONGO_DB_URI= mongodb+srv://mrsugandh32_db_user:Z5MaLWYeODhjpTG5@baby.0kx5sfm.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 6014895515
STRING_SESSION= BQGz-bsAV5sEN46jJRN0LVFaQShgRYZ817eh1zgLM7jYpp1Loz_UrK4CLfDmhtocoLGWLXeUGCLgEffBuvAGcstkK4D9WCpL_2vRaw2874vKQe_g02JtFRtAYiCcTbAZV_0Y5EqUubVL4aDIB1ylmbpbiMOIo7fqFAuBqKyBO8Jsfj8QqKGHyuLngUmXWIebDBz5nttXlkmcA6Av8O4gDp_MCkDyysEn75gyDiSSXTUXQHBFK44axru4MSemN2AJqJ9gbGOBca4z__5bB9IO2xK8OKSsGTJW-yrMAzLB7kzKLn8pUWMOuhpyR1UyfLMVXzOJX4iHq2107opVTBkExltSOqZHnAAAAAGxStM3AA