API_ID= 28572091
API_HASH= 8e0e5b12ad0624ad291422db70ad3098
BOT_TOKEN= 8048419934:AAHkgfX94GcPtVSx8XOz5rovAkDvVjJ9j_w
LOGGER_ID= -1003026521435
MONGO_DB_URI= mongodb+srv://mrarya213612:hvidL8y8dcansVyi@arya.3p8uutx.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 6014895515
STRING_SESSION= BQGz-bsADg_vQEmH0wFZN8KMh0tyrHVtqWfW2URBrWC-g4n7EdK411EyyGnr4hUX6V5jNPW4SwK-9UNaBzXHJvHgeEi0XtOv_-exX2YiemonSHCrryBEE-SNIHMQNFfDkXGZ94oS98dVFz9FRjo2W7XED7pK26-cZiWZvL2JB9tzpxFRu6ZrqtiK_06hVRu4zzozyPqxtGfssW-aDcIRmKqU8_ffhr4BQEPtagfGyW4io16_t9y9pW5tA0nza1j0mdpF-mmLzqplY0_yEoabDXVC_cULzTxWZvH3fX2mTbceQH1OHV4nkdj1tKC11sj3uNePCRQymA7C1DK2JY_GzGdPsQOuGQAAAAGxStM3AA